<dx-data-grid
  #exposureGrid
  id="people"
  [dataSource]="dataSource"
  keyExpr="UserName"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [remoteOperations]="remoteOperations"
  (onCellClick)="onCellClick($event)"
  (onSelectionChanged)="onSelectionChanged($event)"
>
  <dxo-data-grid-header-filter [visible]="true"></dxo-data-grid-header-filter>
  <dxo-data-grid-selection
    mode="multiple"
    selectAllMode="allPages"
    [deferred]="true"
    [allowSelectAll]="true"
    showCheckBoxesMode="always"
  ></dxo-data-grid-selection>
  <dxo-data-grid-paging [enabled]="true" [pageSize]="10"></dxo-data-grid-paging>
  <dxo-data-grid-scrolling
    mode="infinite"
    [preloadEnabled]="true"
    [useNative]="false"
    columnRenderingMode="virtual"
  ></dxo-data-grid-scrolling>
  
  <dxi-data-grid-column 
    dataField="FirstName"
    caption="First Name">
    <dxo-data-grid-header-filter>
      <dxo-data-grid-search [enabled]="true"></dxo-data-grid-search>
    </dxo-data-grid-header-filter>
  </dxi-data-grid-column>
  
  <dxi-data-grid-column 
    dataField="AddressInfo"
    caption="Cities" 
    [customizeText]="customizeCityText"
    [calculateFilterExpression]="calculateCityFilter"
    [allowSorting]="false">
    <dxo-data-grid-header-filter 
      [allowSelectAll]="false"
      [dataSource]="cityFilterDataSource">
    </dxo-data-grid-header-filter>
  </dxi-data-grid-column>
</dx-data-grid>