<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="remoteOperations"
  [showBorders]="true"
>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-data-grid-selection
    mode="multiple"
    selectAllMode="allPages"
    [deferred]="true"
    [allowSelectAll]="true"
    showCheckBoxesMode="always"
  ></dxo-data-grid-selection>

  <dxi-column dataField="UserName"></dxi-column>
  <dxi-column dataField="FirstName"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
  <dxi-column
    caption="Tags (Nested)"
    dataField="TagsFlat"
    [calculateFilterExpression]="calculateTagFilter"
  >
  </dxi-column>

  <dxi-column
    caption="Cities (Flattened)"
    dataField="CityNamesFlat"
    [calculateFilterExpression]="calculateCityFilter"
    [allowSorting]="false"
  >
    <dxo-header-filter [dataSource]="cityFilterDataSource"></dxo-header-filter>
  </dxi-column>
</dx-data-grid>
